ion-content {
  background-image: url("https://cdn.jsdelivr.net/gh/mgpntaypter/ionic-idealweightcalculator@master/bg%20image.png");
}

h1{
  font-family: "Alfa Slab One", cursive;
  color: #f2bd04;
  font-size: 50px;
}