ion-content {
  background-image: url("https://cdn.jsdelivr.net/gh/mgpntaypter/ionic-idealweightcalculator@master/bg%20image.png");
}

h1{
  font-family: "Alfa Slab One", cursive;
  color: #f2bd04;
  font-size: 50px;
  margin-bottom: 0;
  padding-bottom: 0;
}

div.main{
  float: left;
  margin-left: 5%;
}

div.app{
  max-width: 450px;
  background-color: #fef4ce;
  margin-top: 0;
  padding: 15px;
  padding-top: 1px;
  padding-bottom: 5px;
  border-style: solid;
  border-width: 5px;
  border-color: #f53d3d;
}

p{
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

p.inst{
  font-size: 11px;
  line-height: 1.2;
  padding-top: 0;
  margin-top: 3px;
  margin-bottom: 10px;
  padding-left: 10px;
}

h3{
  font-family: "Alfa Slab One", cursive;
  font-size: 20px;
  color: #f53d3d;
}

h4{
  font-family: "Alfa Slab One", cursive;
  font-size: 15px;
  color: #79bb23;
  padding:0;
  margin:0;
  line-height: 1;
  padding-left: 5px;
}