* {
  margin: 0;
  padding: 0;
}

ion-content {
  background-image: url("https://cdn.jsdelivr.net/gh/mgpntaypter/ionic-idealweightcalculator@master/bg%20image.png");
}

.e1 {
  transform: translate(13px, 60px) rotate(-25deg);
}

.e2 {
  transform: translate(6px, 40px) rotate(-20deg);
}

.k1 {
  transform: translate(3px, 23px) rotate(-15deg);
}

.s1 {
  transform: translate(2px, 14px) rotate(-10deg);
}

.f {
  transform: translate(1px, 8px) rotate(-5deg);
}

.o {
  transform: translate(0px, 5px) rotate(0deg);
}

.r {
  transform: translate(-1px, 8px) rotate(5deg);
}

.G2 {
  transform: translate(-2px, 14px) rotate(10deg);
}

.e3 {
  transform: translate(-3px, 25px) rotate(15deg);
}

.e4 {
  transform: translate(-6px, 40px) rotate(20deg);
}

.k2 {
  transform: translate(-14px, 60px) rotate(25deg);
}

/* An inline-block element is placed as an inline 
         element (on the same line as adjacent content),  
         but it behaves like a block element  */

span {
  display: inline-block;
}
