* {
  margin: 0;
  padding: 0;
}

ion-content {
  background-image: url("https://cdn.jsdelivr.net/gh/mgpntaypter/ionic-idealweightcalculator@master/bg%20image.png");
}

.curved {
  text-align: center;
  font-size: 6vw;
  color: #f53d3d;
  font-family: "Alfa Slab One", cursive;
}

.e1 {
  transform: translate(13px, 60px) rotate(-25deg);
}

.e2 {
  transform: translate(6px, 40px) rotate(-20deg);
}

.k1 {
  transform: translate(3px, 23px) rotate(-15deg);
}

.s1 {
  transform: translate(2px, 14px) rotate(-10deg);
}

.f {
  transform: translate(1px, 8px) rotate(-5deg);
}

.o {
  transform: translate(0px, 5px) rotate(0deg);
}

.r {
  transform: translate(-1px, 8px) rotate(5deg);
}

.G2 {
  transform: translate(-2px, 14px) rotate(10deg);
}

.e3 {
  transform: translate(-3px, 25px) rotate(15deg);
}

.e4 {
  transform: translate(-6px, 40px) rotate(20deg);
}

.k2 {
  transform: translate(-14px, 60px) rotate(25deg);
}

span {
  display: inline-block;
}

h1 {
  font-family: "Alfa Slab One", cursive;
  color: #f2bd04;
  text-shadow: 0 1px #f53d3d, -1px 0 #dd5911, -1px 2px #f53d3d, -2px 1px #dd5911,
    -2px 3px #f53d3d, -3px 2px #dd5911, -3px 4px #f53d3d, -4px 3px #dd5911,
    -4px 5px #f53d3d, -5px 4px #dd5911, -5px 6px #f53d3d, -6px 5px #dd5911,
    -6px 7px #f53d3d, -7px 6px #dd5911, -7px 8px #f53d3d, -8px 7px #dd5911;
  margin-top: 60px;
  font-size: 10vw;
  text-align: center;
}

h2 {
  font-family: "Monofett", cursive;
  color: #79bb23;
  text-align: center;
  font-size: 8vw;
}

img {
  margin-top: 30px;
  margin-left: 5%;
  width: 10%;
  min-width: 150px;
  height: auto;
  transform: rotate(-10deg);
  position: absolute;
}

div{
  position: absolute;
  background-color: white;
  height: 100px;
  width: 100px;
}

@media screen and (min-width: 1000px) {
  .curved {
    font-size: 35px;
  }
  h1 {
    font-size: 8.5vw;
  }
  h2 {
    font-size: 35px;
  }
  img {
    margin-left: 18%;
  }
}
